#homepage {
	  font-size: 40px;

  color: black;
  font-family: "Comic Sans MS", Monaco, monospace;
  font-size: 600%;
  margin: 0;
  position: absolute;
  top: 30%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

#buttons {
  padding-right: 100px;
  padding-left: 100px;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);

}

body {
  background: linear-gradient(0deg, red, yellow);
  background-size: 400% 400%;
  -webkit-animation: AnimationName 9s ease infinite;
  -moz-animation: AnimationName 9s ease infinite;
  animation: AnimationName 9s ease infinite;
}
#center {
  text-align: center;
}

p {
  color: black;
}

#hpbackground {
  background: linear-gradient(0deg, red, yellow);
  background-size: 400% 400%;
  -webkit-animation: AnimationName 9s ease infinite;
  -moz-animation: AnimationName 9s ease infinite;
  animation: AnimationName 9s ease infinite;
}

@-webkit-keyframes AnimationName {
  0%{background-position:51% 0%}
  50%{background-position:50% 100%}
  100%{background-position:51% 0%}
}
@-moz-keyframes AnimationName {
  0%{background-position:51% 0%}
  50%{background-position:50% 100%}
  100%{background-position:51% 0%}
}
@keyframes AnimationName { 
  0%{background-position:51% 0%}
  50%{background-position:50% 100%}
  100%{background-position:51% 0%}
}




/*********
nav bar
*********/
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  overflow: hidden;
  background-color: black;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 50px 70px;
  text-decoration: none;
  font-size: 15px;
}

.navbar a:hover {
  background: linear-gradient(180deg, yellow, red);
  background-size: 400% 400%;
  -webkit-animation: AnimationName 9s ease infinite;
  -moz-animation: AnimationName 9s ease infinite;
  animation: AnimationName 9s ease infinite;
  color: black;
}

.navbar a.active {
  background-color: tomato;
  color: white;
}











